<%- include ('../partials/_header') %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">
    <div class="container"> 
        <div class="">
            <div class="">
                <a href="/components/Routes/addClientView">Clientes</a>
            </div>
        </div>
        <div class="">
            <div class="">
                <a href="/components/Routes/addDriverView">Conductores</a>
            </div>
        </div>
        <div class="">
            <div class="">
                <a href="/components/Routes/route">Rutas</a>
            </div>
        </div>
        <div class="">
            <div class="">
                <a href="/components/Routes/salesProduct">Ventas</a>
            </div>
        </div>
        <div class="">
            <div class="">
                <a href="/components/Routes/reports">Reportes</a>
            </div>
        </div>
    </div>
    </nav>
<%- include ('../partials/_footer') %>